{% extends 'ColzakHomeBundle::layout.html.twig' %}

{% block title %}Lynx-Floorball | Contact{% endblock %}
{% block meta %}
    <meta name="description" content="Vous pouvez à tout moment contacter les Lynx pour des renseignements sur le club et / ou sur le floorball en général.">
{% endblock %}
{% block body %}
    <div class="clzk-block-container">

        <h1 class="text-center">Contact</h1>
        <br />

        <div class="container">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="col-md-12">
                    <div class="alert alert-success">
                        <p class="text-center">{{ flashMessage }}</p>
                    </div>
                </div>
            {% endfor %}
            <p><strong>Besoin d'un renseignement ? Tu peux contacter directement ces personnes :</strong></p>
            <br>
            <ul>
                <li>Julien PINTA</li>
                <ul class="list-unstyled">
                    <li><span class="glyphicon glyphicon-phone"></span>&nbsp;:&nbsp; +33 6 50 09 16 48</li>
                    <li>@ : julien.pinta@gmail.com</li>
                </ul>
                <li>Anne Lucie PIQUE</li>
                <ul class="list-unstyled">
                    <li>@ : floorballbordeaux@gmail.com</li>
                </ul>
            </ul>
            <br>
            <p><strong>Ou tu peux laisser un message directement ici !</strong></p>
        </div>

        {{ form_start(form) }}
        {{ form_row(form.from) }}
        {{ form_row(form.subject) }}
        <div class="form-group">
            {{ form_label(form.body) }}
            <div class="col-md-9">
                {{ form_widget(form.body, {'attr': {'class': 'form-control', 'rows': '6'}}) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <br />
        <div class="form-group">
            <div class="col-md-3 col-md-offset-9">
                <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
            </div>
        </div>
        {{ form_end(form) }}
        <div class="clearfix"></div>
    </div>
{% endblock %}