<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                "bootstrap/css/bootstrap.min.css"
                "css/theme.css"
                "css/default.css"
                "css/admin.css"
                filter="cssrewrite"
            %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
            {% endstylesheets %}
            {% block extra_stylesheets %}{% endblock %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="clzk-header">
            {% block header %}
                <div class="navbar navbar-default clzk-navbar">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('colzak_home_homepage') }}"><img src="/img/bfc_logo_text.png" class="img-responsive clzk-brand"></a>
                        </div>
                         <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right clzk-menu">
                                <li><a href="{{ path('colzak_blog_articles') }}">Actualités</a></li>
                                <li><a href="{{ path('colzak_home_pages', {'name': 'team'}) }}">L'équipe</a></li>
                                <li><a href="{{ path('colzak_home_pages', {'name': 'games'}) }}">Les matchs</a></li>
                                <li><a href="{{ path('colzak_home_pages', {'name': 'stats'}) }}">Les stats</a></li>
                                <li><a href="#">Multimédia</a></li>
                                <li><a href="{{ path('colzak_home_pages', {'name': 'about'}) }}">A propos</a></li>
                            </ul>
                         </div>
                    </div>
                </div>
            {% endblock %}
        </header>
        <div class="clzk-body">
            {% block pre_body %}{% endblock %}
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </div>
        <footer class="clzk-footer">
            {% block footer %}
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <p class="text-center clzk-footer-text">Copyright © 2014 Colzak</p>
                    </div>
                </div>
            {% endblock %}
        </footer>
        {% block modal %}
            <div class="modal fade" id="clzk-modal" role="dialog">
                <div class="modal-dialog container">
                    <div class="modal-content" id="clzk-modal-region">
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            {% javascripts
                "js/jquery/jquery-2.0.2.min.js"
                "js/jquery/ui-widgets/jquery.ui.widget.min.js"
                "js/jquery/jquery.ui.core.min.js"
                "bootstrap/js/bootstrap.min.js"
            %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
            {% block extra_javascripts %}{% endblock %}
        {% endblock %}
    </body>
</html>
