<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                "bootstrap/css/bootstrap.min.css"
                "css/theme.css"
                "css/default.css"
                filter="cssrewrite"
            %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
            {% endstylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
            {% block extra_stylesheets %}{% endblock %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="clzk-header">
            {% block pre_header %}{% endblock %}
            {% block header %}
                <div class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('colzak_home_homepage') }}"><img src="/img/bfc_logo_text.png" class="img-responsive clzk-brand"></a>
                        </div>
                         <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right clzk-menu">
                                <li><a href="{{ path('colzak_blog_articles') }}">Actualités</a></li>
                                <li><a href="{{ path('colzak_users') }}">L'équipe</a></li>
                                <li><a href="{{ path('colzak_event_games') }}">Les matchs</a></li>
                                <li><a href="{{ path('colzak_blog_pages', {'name': 'stats'}) }}">Les stats</a></li>
                                <li><a href="{{ path('colzak_blog_media') }}">Multimédia</a></li>
                                <li><a href="{{ path('colzak_blog_pages', {'name': 'about'}) }}">A propos</a></li>
                            </ul>
                         </div>
                    </div>
                </div>
            {% endblock %}
        </header>
        <div class="clzk-body">
            {% block pre_body %}{% endblock %}
            <div class="container"><div class="clzk-container">
                {% block body %}
                    <div class="row">
                        {% block body_left %}{% endblock %}
                        {% block body_right %}
                            {#} right part {#}
                            <div class="col-md-4">
                                {#} social actions {#}
                                <div class="clzk-block-container">
                                    <h3 class="text-center">Ne manque rien !</h3>
                                    <!-- <ul class="social-buttons cf list-unstyled">
                                        <li>
                                            <a href="http://twitter.com/share" class="socialite twitter-share" data-text="Les lynx de bordeaux" data-url="http://socialitejs.com" data-count="vertical" rel="nofollow" target="_blank"><span class="vhidden">Share on Twitter</span></a>
                                        </li>
                                        <li>
                                            <a href="https://plus.google.com/share?url=http://socialitejs.com" class="socialite googleplus-one" data-size="tall" data-href="http://socialitejs.com" rel="nofollow" target="_blank"><span class="vhidden">Share on Google+</span></a>
                                        </li>
                                        <li>
                                            <a href="http://www.facebook.com/sharer.php?u=http://www.socialitejs.com&t=Socialite.js" class="socialite facebook-like" data-href="http://socialitejs.com" data-send="false" data-layout="box_count" data-width="80" data-show-faces="false" rel="nofollow" target="_blank"><span class="vhidden">Share on Facebook</span></a>
                                        </li>
                                    </ul> -->
                                </div>

                                {#} next game {#}
                                <div class="clzk-block-container">
                                    <h3 class="text-center">Prochain match</h3>
                                    {{ render(controller('ColzakEventBundle:Event:nextGame')) }}
                                </div>

                                {#} ranking {#}
                                <div class="clzk-block-container">
                                    <h3 class="text-center">Classement</h3>
                                    {{ render(controller('ColzakEventBundle:Event:ranking')) }}
                                </div>
                                <div class="clzk-block-container">
                                    <h3 class="text-center">Contact</h3>
                                    <p>Tu veux avoir des renseignements ? N'hésite pas à nous contacter via le site. Nous te répondrons dès que possible !</p>
                                    <a href="{{ path('colzak_home_contact') }}" class="btn btn-primary btn-block">Contacter</a>
                                </div>
                            </div>
                        {% endblock %}
                        <div class="clearfix"></div>
                    </div>
                {% endblock %}
            </div></div>
        </div>
        <footer class="clzk-footer">
            <div class="container">
                {% block footer %}
                    <div class="navbar navbar-default" role="navigation">
                        <div class="container">
                            <p class="text-center clzk-footer-text">Copyright © 2014 @Colzak</p>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </footer>
        {% block modal %}
            <div class="modal fade" id="clzk-modal" role="dialog">
                <div class="modal-dialog container">
                    <div class="modal-content" id="clzk-modal-region">
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            {% javascripts
                "js/jquery/jquery-2.0.2.min.js"
                "js/jquery/ui-widgets/jquery.ui.widget.min.js"
                "js/jquery/jquery.ui.core.min.js"
                "bootstrap/js/bootstrap.min.js"
            %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
            {% block extra_javascripts %}{% endblock %}
        {% endblock %}
    </body>
</html>
