{#} img on the left {#}
<div class="col-md-8">
    <div class="tab-content row clzk-last-articles-tab-content">
        {% for article in articles if article.category is not null %}
            <div class="tab-pane fade {% if loop.first %} in active {% endif %}" id="{{ article.id }}">
                <a href="{{ path('colzak_blog_article', { url: article.url }) }}">
                    <img src="{{ article.filePath }}" class="img-responsive">
                    <p class="clzk-article-summary text-center">{{ article.description|slice(0,100) }}...</p>
                </a>
            </div>
        {% else %}
            <p class="clzk-article-summary text-center"><i>Aucun article pour le moment</i></p>
        {% endfor %}
    </div>
</div>
{#} Title on the right {#}
<div class="col-md-4">
    <ul class="nav nav-tabs nav-stacked row clzk-last-articles-tab-container" id="lastArticlesTabs">
    {% for article in articles  if article.category is not null %}
        <li {% if loop.first %} class="active" {% endif %}><a href="{{ path('colzak_blog_article', { url: article.url }) }}">{{ article.title }}</a></li>
    {% endfor %}
    </ul>
</div>
<div class="clearfix"></div>
