{% extends 'ColzakAdminBundle::layout.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h2 class="clzk-admin-title">Liste des catégories</h2>
        </div>
        <div class="col-md-3">
            <a href="{{ path('colzak_admin_category_new') }}" class="btn btn-block btn-primary">Nouvelle catégorie</a>
        </div>
    </div>
    <hr>

    {% if categories is not null %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Parent</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>{% if category.parent is not null %}{{ category.parent.name }}{% endif %}</td>
                            <td>
                                <a href="{{ path('colzak_admin_category_edit', {id: category.id}) }}" class="btn btn-sm btn-default">
                                    <span class="glyphicon glyphicon-edit"></span> Editer
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('colzak_admin_category_delete', {id: category.id}) }}" class="btn btn-sm btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span> Supprimer
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center">
            Aucune catégorie disponible
        </p>
    {% endif %}
{% endblock %}