{% extends 'ColzakAdminBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h2 class="clzk-admin-title">
                {% if game.team1 is null %}
                    Nouveau match
                {% else %}
                    Editer
                {% endif %}
            </h2>
        </div>
        <div class="col-md-3">
            {% if game.team1 is null %}
                <a href="{{ path('colzak_admin_game_delete', {'id': game.id}) }}" class="btn btn-block btn-danger">
            {% else %}
                <a href="{{ path('colzak_admin_games') }}" class="btn btn-block btn-danger">
            {% endif %}
            Annuler</a>
        </div>
    </div>
    <hr>

    {{ form_start(form) }}
    	{{ form_rest(form) }}
    	<div class="form-group">
            <div class="col-md-3 col-md-offset-9">
                <button type="submit" class="btn btn-primary btn-block">Valider</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}