{% extends 'ColzakAdminBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h2 class="clzk-admin-title">
                {% if team.name is null %}
                    Nouvelle équipe
                {% else %}
                    Editer
                {% endif %}
            </h2>
        </div>
        <div class="col-md-3">
            {% if team.name is null %}
                <a href="{{ path('colzak_admin_team_delete', {'id': team.id}) }}" class="btn btn-block btn-danger">Annuler</a>
            {% else %}
                <a href="{{ path('colzak_admin_teams') }}" class="btn btn-block btn-danger">Annuler</a>
            {% endif %}
            
        </div>
    </div>
    <hr>

    {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="form-group">
            <div class="col-md-3 col-md-offset-9">
                <button type="submit" class="btn btn-primary btn-block">Valider</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}