{% extends 'ColzakAdminBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h2 class="clzk-admin-title">Liste des matches</h2>
        </div>
        <div class="col-md-3">
            <a href="{{ path('colzak_admin_game_new') }}" class="btn btn-block btn-primary">Nouveau match</a>
        </div>
    </div>
    <hr>

    {% if games is not null %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Adversaire</th>
                        <th>Adresse</th>
                        <th>Date</th>
                        <th>Domicile</th>
                        <th>Score</th>
                        <th>Score adv.</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}

                        <tr>
                            <td>{{ game.id }}</td>
                            <td>{% if game.opponent is not null %}<img src="{{ game.opponent.teamLogoPath }}" class="img-responsive clzk-admin-img-table">{{ game.opponent.name }}{% endif %}</td>
                            <td>{{ game.place }}</td>
                            <td>{{ game.date|date('d/m/Y') }}</td>
                            <td>{{ game.inHome }}</td>
                            <td>{{ game.score }}</td>
                            <td>{{ game.opponentScore }}</td>
                            <td>
                                <a href="{{ path('colzak_admin_game_edit', {id: game.id}) }}" class="btn btn-sm btn-default">
                                    <span class="glyphicon glyphicon-edit"></span> Editer
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('colzak_admin_game_delete', {id: game.id}) }}" class="btn btn-sm btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span> Supprimer
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center">
            Aucun article disponible
        </p>
    {% endif %}
{% endblock %}