{% extends 'ColzakAdminBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h2 class="clzk-admin-title">Liste des équipes</h2>
        </div>
        <div class="col-md-3">
            <a href="{{ path('colzak_admin_team_new') }}" class="btn btn-block btn-primary">Nouvelle équipe</a>
        </div>
    </div>
    <hr>

    {% if teams is not null %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!-- <th>Id</th> -->
                        <th>Nom</th>
                        <th>Logo</th>
                        <th>Poule</th>
                        <th>Point</th>
                        <th>Matches joués</th>
                        <th>But marqués</th>
                        <th>But encaissés</th>
                        <th>Matches gagnés</th>
                        <th>Matches perdus</th>
                        <th>Matches nuls</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}

                        <tr {% if team.enable == false %}class="danger"{% endif %}>
                            <!-- <td>{{ team.enable }}</td> -->
                            <td>{{ team.name }}</td>
                            <td><img src="{{ team.teamLogoPath }}" class="img-responsive clzk-admin-img-table"></td>
                            <td>{{ team.pool }}</td>
                            <td>{{ team.point }}</td>
                            <td>{{ team.gamePlayed }}</td>
                            <td>{{ team.goalScored }}</td>
                            <td>{{ team.goalLet }}</td>
                            <td>{{ team.win }}</td>
                            <td>{{ team.defeat }}</td>
                            <td>{{ team.draw }}</td>
                            <td>
                                <a href="{{ path('colzak_admin_team_edit', {id: team.id}) }}" class="btn btn-sm btn-default">
                                    <span class="glyphicon glyphicon-edit"></span> Editer
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('colzak_admin_team_delete', {id: team.id}) }}" class="btn btn-sm btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span> Supprimer
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center">
            Aucune équipes
        </p>
    {% endif %}
{% endblock %}