{% extends 'ColzakHomeBundle::layout.html.twig' %}

{% block title %}Lynx-Floorball | Les matches{% endblock %}
{% block meta %}
    <meta name="description" content="Retrouvez tous les matches du championnat de 2e division de floorball en France, et suivez l'évolution des Lynx.">
{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('colzak_home_homepage') }}"><span class="glyphicon glyphicon-home"></span>&nbsp;Accueil</a></li>
        <li class="active">Les matches</li>
    </ol>
{% endblock %}
{% block body_left %}
    <div class="col-md-8">
        <div class="clzk-block-container">
            <h1 class="text-center">Les matches</h1>
            <div class="col-md-12">
                {% if pagination.items|length > 0 %}
                    {% for game in pagination %}
                        <div class="clzk-game-container">
                            <p class="text-center">{{ game.date|date('d M Y') }} - {{ game.place }}</p>
                            <div class="col-md-3 col-md-offset-1"><img src="{{ game.team1.teamLogoPath }}" class="img-responsive"></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-3 col-md-offset-2"><img src="{{ game.team2.teamLogoPath }}" class="img-responsive"></div>
                            <div class="clearfix"></div><hr>
                            <div class="col-md-2 col-md-offset-10"><a href="#" class="btn btn-block btn-primary">Détail</a></div>
                            <div class="clearfix"></div>
                        </div>
                        {% if not loop.last %}<hr>{% endif %}
                    {% endfor %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% else %}
                    <p class="text-center"><i>Aucun match pour le moment</i></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}